---
import BoardLayout from '../../layouts/BoardLayout.astro';
---

<BoardLayout title="Test">
    <!-- <div class="code">
        <pre class="code-pre"><code class="code-content" style="font-size: 14px;"></code></pre>
    </div> -->
</BoardLayout>

<script>
    // const codeTest = 
    // `
    // const = "Hello world"

    // function Check(text) {
    //     if (text) {
    //         console.log(true)
    //     } else {
    //         console.log(false)
    //     }
    // }
    // `
    // // Using ES6 import syntax
    // import hljs from 'highlight.js/lib/core';
    // import javascript from 'highlight.js/lib/languages/javascript';
    // import 'highlight.js/styles/tokyo-night-dark.css'

    // // Then register the languages you need
    // hljs.registerLanguage('javascript', javascript);

    // const highlightedCode = hljs.highlight(
    //     codeTest,
    //     { language: 'javascript' }
    // ).value

    // const codeFragment = document.querySelector('.code-content');
    // if (codeFragment) codeFragment.innerHTML = highlightedCode
</script>