---
interface Props {
    htmlFragment: string,
    cssFragment: string,
    jsFragment: string
}

const { htmlFragment, cssFragment, jsFragment } = Astro.props;

import hljs from 'highlight.js/lib/core';
import html from 'highlight.js/lib/languages/xml'
import css from 'highlight.js/lib/languages/css'
import javascript from 'highlight.js/lib/languages/javascript';
import 'highlight.js/styles/tokyo-night-dark.css'

hljs.registerLanguage('html', html);
hljs.registerLanguage('css', css);
hljs.registerLanguage('javascript', javascript);

const htmlCode = htmlFragment ? htmlFragment : "<span>Hello</span>";
const cssCode = cssFragment ? cssFragment : "h1 { color: red; }";
const jsCode = jsFragment ? jsFragment : "const myAge = 20";

const highlightedHtml = hljs.highlight(
    htmlCode,
    { language: 'html' }
).value

const highlightedCss = hljs.highlight(
    cssCode,
    { language: 'css' }
).value

const highlightedJs = hljs.highlight(
    jsCode,
    { language: 'javascript' }
).value
---

<div class="popup">
    <header class="popup-tabs">
        <button class="popup-tabs-item active" data-lang="html">index.html</button>
        <button class="popup-tabs-item" data-lang="css">style.css</button>
        <button class="popup-tabs-item" data-lang="js">main.js</button>
    </header>

    <div class="popup-content active" id="html">
        <pre><code>{highlightedHtml}</code></pre>
    </div>
    <div class="popup-content" id="css">
        <pre><code>{highlightedCss}</code></pre>
    </div>
    <div class="popup-content" id="js">
        <pre><code>{highlightedJs}</code></pre>
    </div>
    <button class="popup-close">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z"></path></svg>
    </button>
</div>

<style>
    .popup {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        padding: 1rem;
        max-width: 1024px;
        max-height: 600px;
        width: 90%;
        height: 90vh;
        overflow: hidden;
        background: var(--zinc-900);
        border: 1px solid var(--zinc-800);
        border-radius: 1.5rem;
        z-index: 2;
    }

    .popup.active {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .popup-tabs {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .popup-tabs-item {
        padding: 0.875rem 1.5rem;
        border-radius: 0.75rem;
        background: var(--zinc-900);
        font-family: 'Satoshi', sans-serif;
        font-size: 0.875rem;
        color: var(--zinc-50);
        border: none;
        outline: none;
        cursor: pointer;
    }

    .popup-tabs-item.active {
        background: var(--zinc-800);
    }

    .popup-content {
        display: none;
        padding: 0.75rem;
        width: 100%;
        height: 100%;
        overflow: auto;
        background: var(--zinc-950);
        border-radius: 0.75rem;
    }

    .popup-content.active {
        display: block;
    }

    .popup-close {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        width: 1.5rem;
        height: 1.5rem;
        background: none;
        border: none;
        padding: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .popup-close svg {
        width: 1.5rem;
        fill: var(--zinc-500);
        transition: .2s all ease;
    }

    .popup-close:hover svg {
        fill: var(--zinc-50);
    }

    /* 425px styles */
    @media screen and (max-width: 425px) {
        .popup-tabs {
            overflow-x: auto;
            overflow-y: hidden;
            margin-right: 3rem;
        }
    }

</style>

<script>
    const tabsContent = document.querySelectorAll('.popup-content pre code')
    tabsContent.forEach(tab => {
        const data = tab.textContent;
        tab.innerHTML = data
    })

    // Tabs function
    function showCode(e) {
        const tabs = document.querySelectorAll('.popup-tabs-item');
        tabs.forEach(tab => {
            tab.classList.remove('active');
        })

        const contents = document.querySelectorAll('.popup-content');
        contents.forEach(content => {
            content.classList.remove('active');
        })

        e.target.classList.add('active');
        document.querySelector(`#${e.target.dataset.lang}`).classList.add('active');
    }

    document.querySelectorAll('.popup-tabs-item').forEach(e => {
        e.addEventListener('click', showCode)
    })
</script>