---
import BackButton from '../components/BackButton.astro';
import CodeButton from '../components/CodeButton.astro';
import PopupCode from '../components/PopupCode.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link href="https://api.fontshare.com/v2/css?f[]=satoshi@700,500&display=swap" rel="stylesheet">		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
        <BackButton></BackButton>
        <CodeButton></CodeButton>
        <PopupCode></PopupCode>
        <main>
            <span class="name">{title}</span>
            <slot />
        </main>
	</body>
</html>

<style is:global>
    :root {
        /* Colors */
        --zinc-950: #09090b;
        --zinc-900: #18181b;
        --zinc-800: #27272a;
        --zinc-500: #71717a;
        --zinc-50: #fafafa;
        --violet-500: #8b5cf6;
        --violet-400: #A78BFA;

        /* Default Styles */
        font-family: 'Satoshi', sans-serif;
        font-size: 16px;
        background: var(--zinc-950);
        color: var(--zinc-50);
    }

    *, *::before, *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        overflow-anchor: none;
    }

    a {
        text-decoration: none;
    }

    img {
        max-width: 100%;
    }

    main {
        max-width: 1140px;
        min-height: 100vh;
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: slide-left .4s ease .5s 1 both;
    }

    .name {
        margin-bottom: 1rem;
        font-size: 0.875rem;

    }

    @keyframes slide-left {
		0% {
			transform: translateX(6.25rem);
			opacity: 0;
		}

		50% {
			opacity: 0.5;
		}

		100% {
			transform: translateX(0);
			opacity: 1;
		}
	}
</style>

<script>
    const codeButton = document.querySelector('.code-button');
    const popupCode = document.querySelector('.popup');
    codeButton.addEventListener('click', () => {
        popupCode.classList.toggle('active');
    })


    const btnPopupClose = document.querySelector('.popup-close');
    btnPopupClose.addEventListener('click', () => {
        popupCode.classList.remove('active')
    })
</script>